HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
# Eclipse
.classpath
.project
.settings/

# Logs
*.log
logs/

# Project specific
.project/
.settings/
.classpath
# Enforce LF for all text files
* text=auto eol=lf

# Binary files should not be converted
*.jar binary
*.zip binary
*.png binary
*.jpg binary
# ... any other binary files
